# Data Science and Ecosystems

In this Notebook, Data Sciene and Ecosystems are summarized.

Some of the most popular languages that Data Scientist use are :
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow.
2. NumPy
3. SciPy

|Data Science Tools|
|---|
|SAS|
|Apache Hadoop|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
#  This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

__Objective__
* List popular languages for Data Science
* List Popular libaries for Data Science 
* List of well known Data Sciene Tools 
* How to Provide comments in the cell

## Author 
Jessica Alegria